<html lang="en">
<head>
<title><%= user.info.name + " - " + user.info.title %></title>

<link
      href="https://fonts.googleapis.com/css?family=Raleway|Oswald|Raleway+Dots|EB+Garamond|Cutive+Mono|Open+Sans+Condensed|Ubuntu|Roboto|Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/3d74128c62.js"></script>

    <style>
        p {
            color: rgba(0, 0, 0, 0.65);
        }
        .basic__wrapper {
            font-family: Raleway;
        }

        .basic__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5% 25px 25px 25px;
        }

        .basic__photo-frame {
            border-radius: 50%;
            padding: 7px;
            border: 1px dashed;
        }

        .basic__photo-wrapper {
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
        }

        .basic__photo {
            width: 200px;
        }

        .basic__name {
            font-size: 40px;
            margin-bottom: 10px;
            margin-top: 0;
            font-weight: 500;
        }

        .basic__title {
            font-size: 28px;
            margin: 0 0 10px 0;
            font-weight: 500;
        }

        .basic__email {
            margin: 0 0 10px 0;
            font-weight: 500;
        }

        .basic__location {
            font-style: italic;
            margin: 0 0 10px 0;
            font-weight: 500;
        }

        .basic__about {
            max-width: 1200px;
            text-align: center;
        }


        .basic__project {
            padding: 2em 4em;
        }

        .basic__project--even {
            background: rgb(234,234,234);
        }

        .basic__project--even .basic__project-wrapper {
            flex-direction: row-reverse;
        }

        .basic__project-wrapper {
            max-width: 1100px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }

        .basic__project-title {
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
            padding-left: 15px;
        }

        .basic__project-img-wrapper {
            width: 50%;
            padding: 0 15px;
            box-sizing: border-box;
        }

        .basic__project-img {
            width: 100%;
        }

        .basic__img-placeholder {

        }

        .basic__project-info {
            width: 50%;
            padding: 0 20px;
            box-sizing: border-box;
        }


        .basic__project-title {
            width: 100%;
        }

        .basic__project-tags {
            display: flex;
            flex-wrap: wrap;
        }

        .basic__tag {
            border-radius: 4px;
            font-size: 11px;
            padding: 4px;
            border: 1px solid #ddd;
            background: #fafafa;
            color: #666;
            margin-right: 5px;
        }

        .basic__img-fallback {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding: 25px;
            background: #fafafa;
            border: 1px solid #ddd;
            border-radius: 3px;
            height: 300px;
        }

        .basic__project-links {
            display: flex;
            padding: 1em 0 2em 0;
        }

        .basic__project-link {

        }

        .basic__button:hover {
            opacity: 0.7;
        }

        .basic__button--normal {
            line-height: 1.499;
            position: relative;
            display: inline-block;
            font-weight: 400;
            white-space: nowrap;
            text-align: center;
            background-image: none;
            border: 1px solid transparent;
            -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
            cursor: pointer;
            -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            height: 32px;
            padding: 0 15px;
            font-size: 14px;
            border-radius: 4px;
            color: rgba(0, 0, 0, 0.65);
            background-color: #fff;
            border-color: #d9d9d9;
        }

        .basic__button--primary {
            margin-right: 15px;
            color: #fff;
            background-color: #1890ff;
            border: 1px solid;
            border-color: #1890ff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
            -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
            line-height: 1.499;
            position: relative;
            display: inline-block;
            font-weight: 400;
            white-space: nowrap;
            text-align: center;
            background-image: none;
            cursor: pointer;
            -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            height: 32px;
            padding: 0 15px;
            font-size: 14px;
            border-radius: 4px;
        }

        .basic__link {
            text-decoration: none;
        }

    </style>
</head>

<body>

<script type="text/javascript">
    const buttons = document.querySelectorAll('.basic__button');
    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', (e) => {
            e.preventDefault();
        })
    }
</script>

<div class="basic__wrapper" style="font-family: <%= user.styles.font %>; font-size: <%= user.styles.fontSize %>px">
    <div class="basic__header">
        <div class="basic__photo-frame" style="border-color: <%= user.styles.color %>">
            <div class="basic__photo-wrapper">
                <% if (user.info.profilePhoto) { %>
                    <img alt="<%= user.info.name %>" src="<%= user.info.profilePhoto %>" class="basic__photo"/>
                <% }%>
            </div>
        </div>
        <% if (user.info.name) { %>
            <h1 class="basic__name"><%= user.info.name %></h1>
        <% }%>
        <% if (user.info.title) { %>
            <h2 class="basic__title"><%= user.info.title %></h2>
        <% }%>
        <% if (user.info.email) { %>
            <h3 class="basic__email">
                <a href="<%= user.info.email %>" style="color: <%=user.styles.color %>"><%=user.info.email%></a>
            </h3>
        <% }%>
        <% if (user.info.location) { %>
            <h3 class="basic__location"><%= user.info.location %></h3>
        <% }%>
        <% if (user.info.about) { %>
            <div class="basic__about-wrapper">
                <p class="basic__about"><%= user.info.about %></p>
            </div>
        <% }%>

    </div>

    <section class="basic__projects">
        <% for (let i = 0; i < projects.length; i++) { %>
        <% let project = projects[i]; %>
            <div class="<%= i % 2 !== 0 ? 'basic__project basic__project--even' : 'basic__project basic__project--odd'%>">
                <div class="basic__project-wrapper">
                    <h3 class="basic__project-title"><%= project.title %></h3>
                    <div class="basic__project-img-wrapper">
                        <% if (project.imgUrl) { %>
                        <img src="<%= project.imgUrl %>" alt="<%= project.title %>" class="basic__project-img"/>
                        <% } else { %>
                        <% } %>
                    </div>
                    <div class="basic__project-info">
                        <p class="basic__project-desc"><%= project.desc %></p>
                        <% if (project.srcUrl || project.demoUrl) { %>
                            <div className="basic__project-links">
                            <% if (project.demoUrl) { %>
                                <a class="basic__link" target="_blank" href="<%= project.demoUrl %>"><button class=" basic__button basic__button--primary">Demo</button>
                                </a>
                            <% } %>

                                <% if (project.srcUrl) { %>
                                    <a target="_blank" class="basic__link" href="<%= project.srcUrl %>">
                                        <button class=" basic__button basic__button--normal">Source</button>
                                    </a>
                                <% } %>
                        </div>
                        <% } %>
                    </div>
                </div>

            </div>
        <%}%>
    </section>

</div>





</body>

</html>
