<html lang="en">
<head>
<title><%= user.info.name + " - " + user.info.title %></title>

<link
      href="https://fonts.googleapis.com/css?family=Raleway|Oswald|Raleway+Dots|EB+Garamond|Cutive+Mono|Open+Sans+Condensed|Ubuntu|Roboto|Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/3d74128c62.js"></script>

    <style>
        p {
            color: rgba(0, 0, 0, 0.65);
        }
        .basic__wrapper {
            font-family: Raleway;
        }

        .basic__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5% 25px 25px 25px;
        }

        .basic__photo-frame {
            border-radius: 50%;
            padding: 7px;
            border: 1px dashed;
        }

        .basic__photo-wrapper {
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
        }

        .basic__photo {
            width: 200px;
        }

        .basic__name {
            font-size: 40px;
            margin-bottom: 10px;
            margin-top: 0;
            font-weight: 500;
        }

        .basic__title {
            font-size: 28px;
            margin: 0 0 10px 0;
            font-weight: 500;
        }

        .basic__email {
            margin: 0 0 10px 0;
            font-weight: 500;
        }

        .basic__location {
            font-style: italic;
            margin: 0 0 10px 0;
            font-weight: 500;
        }

        .basic__about {
            max-width: 1200px;
            text-align: center;
        }


        .basic__project {
            padding: 4em;
        }

        .basic__project--even {
            background: rgb(234,234,234);
        }

        .basic__project--even .basic__project-wrapper {
            flex-direction: row-reverse;
        }

        .basic__project-wrapper {
            max-width: 1100px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }

        .basic__project-title {
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
            padding-left: 15px;
        }

        .basic__project-img-wrapper {
            width: 50%;
            padding: 0 15px;
            box-sizing: border-box;
        }

        .basic__project-img {
            width: 100%;
        }

        .basic__img-placeholder {

        }

        .basic__project-info {
            width: 50%;
            padding: 0 20px;
            box-sizing: border-box;
        }


        .basic__project-title {
            width: 100%;
        }

        .basic__project-tags {
            display: flex;
            flex-wrap: wrap;
        }

        .basic__tag {
            border-radius: 4px;
            font-size: 11px;
            padding: 4px;
            border: 1px solid #ddd;
            background: #fafafa;
            color: #666;
            margin-right: 5px;
        }

        .basic__img-fallback {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding: 25px;
            background: #fafafa;
            border: 1px solid #ddd;
            border-radius: 3px;
            height: 300px;
        }

        .basic__project-links {
            display: flex;
            padding: 1em 0 2em 0;
        }

        .basic__project-link {

        }

        .basic__button:hover {
            opacity: 0.7;
        }
    </style>
</head>

<body>

<div class="basic__wrapper" style="font-family: <%= user.styles.font %>; font-size: <%= user.styles.fontSize %>px">
    <div class="basic__header">
        <div class="basic__photo-frame" style="border-color: <%= user.styles.color %>">
            <div class="basic__photo-wrapper">
                <% if (user.info.profilePhoto) { %>
                    <img alt="<%= user.info.name %>" src="<%= user.info.profilePhoto %>" class="basic__photo"/>
                <% }%>
            </div>
        </div>
        <% if (user.info.name) { %>
            <h1 class="basic__name"><%= user.info.name %></h1>
        <% }%>
        <% if (user.info.title) { %>
            <h2 class="basic__title"><%= user.info.title %></h2>
        <% }%>
        <% if (user.info.email) { %>
            <h3 class="basic__email">
                <a href="<%= user.info.email %>" style="color: <%=user.styles.color %>"><%=user.info.email%></a>
            </h3>
        <% }%>
        <% if (user.info.location) { %>
            <h3 class="basic__location"><%= user.info.location %></h3>
        <% }%>
        <% if (user.info.about) { %>
            <div class="basic__about-wrapper">
                <p class="basic__about"><%= user.info.about %></p>
            </div>
        <% }%>

    </div>

    <section class="basic__projects">
        <% for (let i = 0; i < projects.length; i++) { %>
            <div class="<%= i % 2 !== 0 ? 'basic__project basic__project--even' : 'basic__project basic__project--odd'%>">
                <div class="basic__project-wrapper">
                    <h3 class="basic__project-title"><%= projects[i].title %></h3>
                    <div class="basic__project-img-wrapper">
                        <% if (projects[i].imgUrl) { %>
                        <img src="<%= projects[i].imgUrl %>" alt="<%= projects[i].title %>" class="basic__project-img"/>
                        <% } else { %>
                        <% } %>
                    </div>
                    <div class="basic__project-info">
                        <p class="basic__project-desc"><%= projects[i].desc %></p>
                    </div>
                </div>

            </div>
        <%}%>
    </section>

</div>





</body>

</html>
